body {
  nav {
    margin: 0;
    .bt {
      border: none;

      background-color: transparent;
      margin: 0 20px;
      &:hover {
        color: skyblue !important;
        border-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
      &:focus {
        outline: none;
        opacity: 0.6;
        transition: 0.3s;
        color: skyblue !important;
      }
    }
  }
  .content {
    .array_section {
      position: absolute;
      justify-content: center;

      bottom: 0;
      max-width: 90%;

      margin: 3%;

      .array_bars {
        display: inline-block;
        background-color: turquoise;

        margin: 0 1px;
        justify-content: center;
      }
    }
  }
}
