.menu {
  background-color: blue;
  height: 50px;
  .btn {
    color: #fff;
    display: flex;
    &:hover {
      color: red;
    }
  }
}

.footer {
  color: #fff;
  text-align: center;
  background-color: black;
  height: 50px;
}
.space {
  margin-top: 0px;
}
