body nav {
  margin: 0; }

body .content {
  max-height: 600px;
  overflow-x: hidden; }
  body .content .array_section {
    position: absolute;
    justify-content: center;
    bottom: 0;
    max-width: 90%;
    margin: 3%; }
    body .content .array_section .array_bars {
      display: inline-block;
      background-color: turquoise;
      margin: 0 1px;
      justify-content: center; }

.menu {
  background-color: blue;
  height: 50px; }
  .menu .btn {
    color: #fff;
    display: flex; }
    .menu .btn:hover {
      color: red; }

.footer {
  color: #fff;
  text-align: center;
  background-color: black;
  height: 50px; }

.space {
  margin-top: 0px; }

body {
  background-color: #fcf5e8; }
