body nav {
  margin: 0; }
  body nav .bt {
    border: none;
    background-color: transparent;
    margin: 0 20px; }
    body nav .bt:hover {
      color: skyblue !important;
      border-color: transparent; }
    body nav .bt:active {
      background-color: transparent; }
    body nav .bt:focus {
      outline: none;
      opacity: 0.6;
      transition: 0.3s;
      color: skyblue !important; }

body .content .array_section {
  position: absolute;
  justify-content: center;
  bottom: 0;
  max-width: 90%;
  margin: 3%; }
  body .content .array_section .array_bars {
    display: inline-block;
    background-color: turquoise;
    margin: 0 1px;
    justify-content: center; }

.footer {
  color: #fff;
  text-align: center;
  background-color: #343a40;
  height: 50px; }

.space {
  margin-top: 10px; }

body {
  background-color: #fcf5e8; }
